@model EohTest.Ui.Employment.Models.CandidateModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Pages/CreateCandidate.js" type="text/javascript"></script>

<h2>Create a new candidate</h2>
<form action="/candidate/create" method="post">
    <fieldset>
        <legend>Personal Information</legend>
        <label for="firstName">First name: </label><input type="text" name="firstName" />
        <label for="lastName">Last name: </label><input type="text" name="lastName" />
        <label for="dateOfBirth">Date of birth: </label><input type="date" value="1983/03/20" name="dateOfBirth" />
    </fieldset>
    <input type="submit" name="createANewCandidate" title="Create a new candidate" value="Create"/>
</form>