@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to EOH HR system</h1>
                <h3>These are the current employee's for EOH</h3>
            </hgroup>
            <p>
                <a href="/employee/index" rel="Employees" class="employeesButton">Manage Employees</a>
                &nbsp; - &nbsp;
                <a href="/Candidate/index" rel="candidates" class="candidateButton">Manage Candidates</a>
            </p>
        </div>
    </section>
}


